<h1>Reporte productos maximo vendido por año</h1>
<hr />



<div class="row">

  <div class="col-3">
    <mat-form-field>
      <mat-label>Año venta</mat-label>
      <mat-select (selectionChange)="onFilter($event.value)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let anio of anios" matInput [value]="anio">
          {{ anio }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div class="row">

  <div class="col text-right">
    <button routerLink="/producto/nuevo" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  
  </div>
</div>


<table
  *ngIf="!cargando && productos.length > 0"
  class="table mt-3 animated fadeIn faster animated fadeIn faster"
>
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Total vendo en el año</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productosFiltrados | async; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ producto.Nombre }}</td>
      <td>{{ producto.Descripcion }}</td>
      <td>{{ producto.ValorTotal }}</td>
    </tr>
  </tbody>
</table>

<div
  *ngIf="!cargando && productos.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

<div
  *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>
